In [1]:
import pandas as pd
import numpy as np

In [2]:
from libray import *

In [3]:
x_train, y_train,x_val , y_val, x_test , y_test , x_val_bal , y_val_bal , x_test_bal , y_test_bal= read_data()

In [4]:
x_train.shape

(55748, 8)

In [5]:
x_val.shape

(157767, 8)

In [6]:
x_test.shape

(19011, 8)

In [7]:
path1 = "../data/snorkel_train_gold_set.csv"
df_gold = pd.read_csv(path1)

In [8]:
df_gold.shape

(4224704, 41)

In [9]:
df_gold.describe()

,AP_DARS,AP_DDG_W,AP_DFIRE2,AP_GOAP_DF,AP_MPS,AP_PISA,AP_dDFIRE,AlAr,ArAr,BSA_Apolar,...,CP_ZS3DC_MIN,DDG_V,PROPNSTS,PYDOCK_TOT,SIPPER,cips_AlAr,RFC,TF2,NNC,label_binary
count,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,...,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06,4.224704e+06
mean,3.514619e-01,5.441503e-01,7.814758e-01,6.923200e-01,4.317327e-01,2.003255e-01,6.246241e-01,1.955294e-01,1.030122e-01,3.636757e-01,...,4.322621e-01,-7.926488e+01,6.646689e-01,3.686621e-01,3.288571e-01,2.210682e-01,8.056831e-01,2.432496e-01,2.440168e-01,4.249434e-01
std,1.830553e-01,1.379709e-01,2.194867e+00,2.029206e-01,1.147525e-01,5.064335e-02,3.028366e+00,1.973578e-01,1.359509e-01,1.886814e-01,...,1.238864e-01,1.326903e+05,1.333111e-01,1.198730e-01,2.356970e-01,2.260956e-01,8.076981e-02,4.277785e-01,4.285526e-01,4.943345e-01
min,-2.419480e+00,-2.348827e+00,-7.379163e+01,-1.947251e+00,-8.650817e-01,-6.937021e-01,-9.994397e+01,0.000000e+00,0.000000e+00,-3.834217e-02,...,-3.198751e-01,-1.870418e+08,-4.517634e-01,-1.684622e+00,-1.250441e-01,0.000000e+00,0.000000e+00,-2.416063e-04,-1.943164e-04,0.000000e+00
25%,2.682682e-01,4.781854e-01,6.001445e-01,6.025248e-01,3.659321e-01,1.748469e-01,4.169611e-01,4.545455e-02,0.000000e+00,2.381051e-01,...,3.482043e-01,5.532918e-01,5.841388e-01,3.091090e-01,2.313635e-01,5.234160e-02,7.800000e-01,-2.416063e-04,-1.943164e-04,0.000000e+00
50%,3.739824e-01,5.683341e-01,7.068742e-01,7.192729e-01,4.398112e-01,2.014337e-01,5.095070e-01,1.363636e-01,6.250000e-02,3.259968e-01,...,4.306268e-01,6.630280e-01,6.630341e-01,3.814484e-01,2.829482e-01,1.728650e-01,8.100000e-01,-2.416063e-04,-1.943164e-04,0.000000e+00
75%,4.663335e-01,6.372125e-01,7.954716e-01,8.177797e-01,5.077868e-01,2.268944e-01,5.853946e-01,2.727273e-01,1.875000e-01,4.430665e-01,...,5.204216e-01,7.447912e-01,7.377123e-01,4.424979e-01,3.572360e-01,3.181818e-01,8.400000e-01,4.183970e-03,4.962861e-03,1.000000e+00
max,1.108584e+00,1.000000e+00,1.306161e+02,1.070333e+00,1.940849e+00,1.901810e+00,1.770557e+02,3.227273e+00,2.250000e+00,5.236394e+00,...,1.048740e+00,1.057366e+08,2.315208e+00,1.517912e+00,6.348967e+00,3.688017e+00,1.000000e+00,1.000001e+00,1.000261e+00,1.000000e+00

In [10]:
df_gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224704 entries, 0 to 4224703
Data columns (total 41 columns):
 #   Column        Dtype
---  ------        -----
 0   Conf          object
 1   AP_DARS       float64
 2   AP_DDG_W      float64
 3   AP_DFIRE2     float64
 4   AP_GOAP_DF    float64
 5   AP_MPS        float64
 6   AP_PISA       float64
 7   AP_dDFIRE     float64
 8   AlAr          float64
 9   ArAr          float64
 10  BSA_Apolar    float64
 11  CONSRANK_val  float64
 12  CP_BFKV       float64
 13  CP_BT         float64
 14  CP_D1         float64
 15  CP_HLPL       float64
 16  CP_MJ2h       float64
 17  CP_MJ3h       float64
 18  CP_MJPL       float64
 19  CP_Qp         float64
 20  CP_RMFCA      float64
 21  CP_RMFCEN1    float64
 22  CP_RMFCEN2    float64
 23  CP_SKOIP      float64
 24  CP_SKOb       float64
 25  CP_TB         float64
 26  CP_TD         float64
 27  CP_TEl        float64
 28  CP_TS         float64
 29  CP_TSC        float64
 30  CP_ZS3DC_MIN  float64
 31  DDG_V         float64
 32  PROPNSTS      float64
 33  PYDOCK_TOT    float64
 34  SIPPER        float64
 35  cips_AlAr     float64
 36  idx           object
 37  RFC           float64
 38  TF2           float64
 39  NNC           float64
 40  label_binary  int64
dtypes: float64(38), int64(1), object(2)
memory usage: 1.3+ GB

In [11]:
df_gold.shape[0] - x_train.shape[0]

4168956

In [12]:
df_gold[["NNC","label_binary"]]

              NNC  label_binary
0        1.000261             1
1        1.000261             1
2       -0.000194             0
3       -0.000194             0
4       -0.000194             0
...           ...           ...
4224699  0.995129             1
4224700  0.970205             1
4224701  0.967472             0
4224702  0.104020             0
4224703  0.196939             0

[4224704 rows x 2 columns]

In [14]:
x_train

,CONSRANK_val,CP_HLPL,CP_MJ3h,DDG_V,CP_RMFCA,AP_GOAP_DF,NNC,RFC
Conf,,,,,,,,
F_1A2K_1488_I.pdb,0.006856,0.666667,0.512844,0.760255,0.657061,0.724794,0.012401,0.11
F_1A2K_1598_I.pdb,0.007113,0.794183,0.691743,0.786148,0.808949,0.807844,0.014775,0.01
F_1A2K_161_I.pdb,0.017525,0.559284,0.569266,0.650389,0.631666,0.727162,0.048545,0.03
F_1A2K_1631_I.pdb,0.007103,0.733781,0.617431,0.750583,0.768745,0.749274,0.032706,0.00
F_1A2K_1798_A.pdb,0.067550,0.601790,0.589908,0.717533,0.760225,0.713548,0.383924,0.74
...,...,...,...,...,...,...,...,...
Z_9QFW_9803_A.pdb,0.172167,0.364653,0.405963,0.511496,0.580501,0.510112,0.997528,1.00
Z_9QFW_980_A.pdb,0.129222,0.344519,0.387156,0.544016,0.571142,0.574612,0.990131,0.97
Z_9QFW_983_I.pdb,0.116543,0.212528,0.403670,0.472553,0.353631,0.437982,0.980499,0.25
Z_9QFW_9898_I.pdb,0.048838,0.469799,0.388073,0.525382,0.599926,0.657287,0.209221,0.11
Z_BOYV_8458_I.pdb,0.062794,0.514541,0.352294,0.603595,0.620842,0.662011,0.329654,0.10